<footer class="bg-dark text-white mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <img src="https://ananas.vn/wp-content/themes/ananas/fe-assets/images/logo.svg" alt="Ananas Logo" height="40">
                <p class="mt-2">Công ty TNHH Ananas Việt Nam<br>Địa chỉ: 10 Trần Quý Khoách, P.Tân Định, Q.1, TP.HCM</p>
            </div>
            <div class="col-md-4 mb-3">
                <h6>Liên hệ</h6>
                <p>Email: info@ananas.vn<br>Hotline: 028 2211 0067</p>
            </div>
            <div class="col-md-4 mb-3">
                <h6>Kết nối với chúng tôi</h6>
                <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-white"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="text-center mt-3">
            &copy; 2025 AnanasClone. All rights reserved.
        </div>
    </div>
</footer> 