<header class="py-2 border-bottom">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="/" class="navbar-brand">
            <img src="https://ananas.vn/wp-content/themes/ananas/fe-assets/images/logo.svg" alt="Ananas Logo" height="40">
        </a>
        <nav class="d-none d-md-block">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="#">Sản phẩm</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Nam</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Nữ</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Sale-off</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Khám phá</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Về chúng tôi</a></li>
            </ul>
        </nav>
        <div class="d-flex align-items-center">
            <form class="d-none d-md-block me-3">
                <input class="form-control" type="search" placeholder="Tìm kiếm..." aria-label="Search">
            </form>
            <a href="#" class="text-dark me-3"><i class="fa fa-user"></i></a>
            <a href="#" class="text-dark"><i class="fa fa-shopping-cart"></i></a>
            <a asp-controller="Account" asp-action="AssignAdminRole" class="btn btn-primary ms-3">Gán quyền Admin</a>
        </div>
    </div>
</header> 